{% extends "layout.html.twig" %}

{% block content %}
<br/>
<a href="{{ path('Etudiant_ajouter') }}"> Ajouter Etudiant</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Code</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Informations</th>
			</tr>
		</thead>
		<tbody>
			{% for etudiant in listeEtudiants %}
				<tr>
					<td>{{ etudiant.id }}</td>
					<td>{{ etudiant.nom }}</td>
					<td>{{ etudiant.prenom }}</td>
					<td><a href="{{ path('Etudiant_ConsulterInfosE', { 'id': etudiant.id , 'section':etudiant.section.libelle}) }}"> Voir</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
