{# src/webStudent/EtudiantBundle/Resources/Etudiant/index.html.twig #}
<!DOCTYPE html>
<html>
    <head>
	<title>Voici les informations de l'étudiant</title>
	</head>
	{% for etudiant in etudiant %}
	<p>Voici les informations de l'étudiant: {{ etudiant.nom }}</p>
	<table border='1'>
		<thead>
			<tr>
				<th>Adresse</th>
				<th>Numero de telephone</th>
				<th>Mail</th>
				<th>Section</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>{{ etudiant.adresse }}</td>
					<td>{{ etudiant.tel}}</td>
					<td>{{ etudiant.mail}}</td>
					<td>{{ etudiant.section.libelle}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
<p><a href="{{ path('Etudiant_ConsulterE' ) }}"> Retour</p>
</html>